{%extends 'base.html.twig' %}

{% block titrePage %}
<h1>Bienvenue sur ProStage ! </h1>
{% endblock %}
{% block contenuPage %}
<p>
	Derniers stages ajoutés!
</p>
<ul>
	<li>
		<a href="{{path('pro_stages_stages',{id:1})}}">Stage1</a>
	</li>
	<li>
		<a href="{{path('pro_stages_stages',{id:2})}}">Stage2</a>
	</li>
	<li>
		<a href="{{path('pro_stages_stages',{id:3})}}">Stage3</a>
	</li>
</ul>
{% endblock %}