<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block slider %}
		<h1>-----------------SLIDER----------------</h1>
		{% endblock %}
		{% block menu %}{% endblock %}
		<h1>-----------------MENU----------------</h1>
		{% block contenu %}{% endblock %}
		{% block footer %}{% endblock %}
		<h1>-----------------FOOTER----------------</h1>
        {% block javascripts %}{% endblock %}
    </body>
</html>
